<h1><%= @title %></h1>


	<table>
	<tr>
		<th></th><th>Choose Section</th><th>Order #</th><th></th>
	</tr>
	

	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Header</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myContact, :id, :content, :prompt => " ", :style => "width:800px;" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>

	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Objective</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myObjective, :id, :content, :prompt => " " %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	
	
	
	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Qualifications</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myQualifications, :id, :content, :prompt => "Select a Qualification" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Education</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myEducation, :id, :content, :prompt => "Select an Education" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Skills</td>
		<td><div class="field"><%= g.collection_select :sectionid, @mySkills, :id, :content, :prompt => "Select a Skills" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Employment History</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myEmplHistory, :id, :content, :prompt => "Select an EMployment History" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>References</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myListRef, :id, :content, :prompt => "Select a List of References" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	<tr>
		<%= form_for(@resumesection) do |g| %>
		<%= render 'shared/error_messages', :object => g.object %>
		<td>Other</td>
		<td><div class="field"><%= g.collection_select :sectionid, @myOther, :id, :content, :prompt => "Select an Other" %></div></td>
		<td><div class="field"><%= g.text_field :order %></div></td>
		<td><div class="actions">
		<%= g.submit "Add", :disable_with => "Submitted" %></div></td>
			<div class="field">
				<%= g.hidden_field :resumeid, :value => params[:id] %>
			</div>
		<% end %>
	</tr>
	
	
	
	</table>

  
