<%= javascript_include_tag :defaults %>

<h1><%= @title %></h1>


<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
	<th></th>
  </tr>

<% @section.each do |section| %>
  <tr>
    <td><%= section.typesection %></td>
    <td><%= section.title %></td>
	<% if current_user.id == section.userid %>
		<td><%= link_to 'View', section_url(section) %> | <%= link_to 'Edit', edit_section_path(section) %> | 
		<%= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
 
  </tr>

<% end %>
</table>

