<h1><%= @title %></h1>
<p>Find me in app/views/sections/new.html.erb</p>


<%= form_for(@section) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :typesection %><br />
    <%= f.select :typesection, [['Header'],['Education'],['Skills']] %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  
  <div class="field">
	<%= f.hidden_field :userid, :value => current_user.id %>
	</div>
  
  <div class="actions">
    <%= f.submit "Create Section", :disable_with => "Submitting..." %>
  </div>
<% end %>
