<%= javascript_include_tag :defaults %>
<h1><%= @title %></h1>
<br />
<table>
<tr><th>Type</th><th>Creator</th><th>Title</th></tr>
<tr>
<td><%= @section.typesection %></td>
<td> <%= link_to "#{@section.user.name}", user_path(@section.userid) %></td>
<td> <%= @section.title %></td></tr>
</table>

<% if current_user.id == @section.userid %>

<%= link_to 'Edit', edit_section_path(@section) %> | <%= link_to 'Destroy', @section, :confirm => 'Are you sure?', :method => :delete %>
 
<% end %><br /><br />

<b>Content:</b> <br />
<%= raw @section.content %>

