<h1><%= @title %></h1>
<p>Find me in app/views/sections/show.html.erb</p>
ID: <%= @section.id %> | Type: <%= @section.typesection %> | Content: <%= @section.content %> | User ID: <%= @section.userid %> 

<% if current_user.id == @section.userid %>

 | <%= link_to 'Edit', edit_section_path(@section) %> | <%= link_to 'Destroy', @section, :confirm => 'Are you sure?', :method => :delete %>
 
<% end %>
