<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'star_rating', :media => 'screen' %>
<h1><%= @title %></h1>
Author: <%= link_to "#{@resume.user.name}", user_path(@resume.userid) %> | 
<%= link_to "Comment", "/newcomment/#{@resume.id}" %> | 
<%= link_to "Rate Resume", "/newrating/#{@resume.id}" %> | 
<%= link_to 'Edit', edit_resume_path(@resume) %> | 
<%= link_to 'Delete', @resume, :confirm => 'Are you sure?', :method => :delete %><br />
Resume Name: <%= @resume.name %>
<br /><br />

<ul class="star-rating">

	<li class="current-rating" style="width:60%;">Currently 3/5 Stars.</li>

	<li><% link_to "newrating/#{@resume.id}/1" %> title="1 star out of 5" class="one-star">1</a></li>

	<li><a href="#" title="2 stars out of 5" class="two-stars">2</a></li>

	<li><a href="#" title="3 stars out of 5" class="three-stars">3</a></li>

	<li><a href="#" title="4 stars out of 5" class="four-stars">4</a></li>

	<li><a href="#" title="5 stars out of 5" class="five-stars">5</a></li>

</ul>
<br /><br />


<% @resumesection.each do |resumesection| %>

	<%= resumesection.orderNum %>
	<%= raw resumesection.section.content %><br />
<% end %>
	
<br />
<br />
<bf />

<div>
	<div>
		<% if !@comment.blank? %>
		<h3>Comments</h3>
		<% @comment.each do |comment| %>
			<%= comment.comment %><br />
			Author: <%= link_to "#{comment.user.name}", user_path(comment.user.id) %> <br />
			<% if current_user.id == comment.userid %>
				<%= link_to 'Edit', edit_comment_path(comment) %> | 
				<%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
			<br /><br />
		<% end %>
		<% end %>
	</div>
		
	<div>
		<% if !@rating.blank? %>
		<h3>Ratings</h3>
		<% @rating.each do |rating| %>
			<%= rating.user.name %> : 
			<%= rating.rating_score %> <br />
			<% if current_user.id == rating.userid %> 
				<%= link_to 'Delete', rating, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
			<br /><br />
		<% end %>
		<% end %>
	</div>
</div>



