<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <div id="wrapper">
	  <div id= "sidebar-wrapper">
		<%= render 'layouts/sidebar' %>
	  </div>
		<div id="page">
			<div id="page-bgtop">
				<%= yield %>
				</br>
				</br>
			</div>
		</div>
			
	  </div>
  </body>
  
</html>